body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #f3f3f3;
  text-align: center;
}

.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: steelblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: darkblue;
}