body{
    display: flex;
    justify-content: center;
}

form{
   border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: aqua;
}


form input, h3{
    margin: 1rem;
}

form button{
    width: 30%;
    align-self: flex-end;
    margin: 1rem;
}